/* ------------ Utilities -------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.purchase-button{
    background-color: #E76F51;
    color: #fff;
    font-size:16px;
    font-weight:500;
    padding:8px 30px;
    letter-spacing:0.2em;
    border-radius: 50px;
    border:none;
}
@media only screen and (max-width: 576px){
    .purchase-button{
        font-size:12px;
        padding:8px 20px;
    }
}
/* ------------ Header area -------------------*/
header{
    background-color: #264653;
    margin-bottom: 50px;
}
/* ------------ Navigation area -------------------*/
nav{
    background-color: #264653;
}
nav .navbar-toggler, ul{
    margin-left: auto;
}
.fa-search, .fa-biking{
    border-right: 1px solid white;
}
@media only screen and (max-width: 576px){
    nav ul {
        text-align: center;
    }

}
@media only screen and (max-width: 768px){
    nav{
        background-color: #154051;
        box-shadow: 10px 10px 20px;
    }
    nav ul {
        text-align: center;
    }
}
/* -------------- Header main Area ---------------*/
.header-main{
    padding: 150px 0 100px 0;
}
header h1{
    font-size:48px;
    font-weight: bold;
    text-transform:uppercase;
}
.header-info h5{
    color: rgb(199, 198, 198);
}
.header-info p{
    text-align: justify;
}
.header-img img{
    width: 480px;
}
@media only screen and (max-width: 576px){

    .header-info{
        padding-bottom: 30px;
    }
    header h1{
        font-size:30px;
    }
    .header-img img{
        width: 320px;
    }
}
@media only screen and (max-width: 768px){
    .header-info{
        padding-bottom: 50px;
    }
    h1{
        font-size:38px;
    }
    .header-img{
        text-align: center;
    }
}

/* ------------------------ Featured Area -----------------*/
.featured-area{
    margin-bottom: 100px;
}
h1{
    text-transform:capitalize;
    font-weight: bold;
}
.section-title{
    margin-bottom: 50px;
}
.bike-img{
    text-align: center;
    margin-left: 25px;
}
.bike-img img{
    width: 90%;
    filter: grayscale(100%);
    transition:0.5s ease-in-out;
}
.bike-img img:hover{
    filter: grayscale(0%);   
}
@media only screen and (max-width: 576px){
    h1{
        font-size:30px;
    }
}
@media only screen and (max-width: 768px){
    .bike-img{
        margin-left:0;
        margin-bottom: 50px;
    }   
}

/* ------------------ Latest News Area -------------------*/
#news{
    margin-bottom: 80px;
}
.card-info h3{
    font-size:22px;
}
.more-info-button{
    background-color: transparent;
    color: #E76F51;
    font-size:16px;
    font-weight:500;
    padding:8px 30px;
    border-radius: 50px;
    border: 1px solid #E76F51;
    transition:0.5s ease-in-out;
}
.fa-book-reader{
    border-right: 1px solid #E76F51;
    padding-right: 5px;
}
.more-info-button:hover{
    background-color: #E76F51;
    color: #ffff;
}

/* -------------------- Clients Comment Area -----------------*/
.clients-comment{
    margin-bottom: 100px;
}
.comment-area-title{
    margin-bottom: 50px;
}
.comment-area-title h1{
    font-weight: bold;
}
.fa-star, .fa-star-half-alt{
    color: #E76F51;
}
.client-review h6{
    color: #23A6F0;
    font-weight: bold;
    margin: 20px 0;
}
.client-profession{
    color: #252B42;
    font-weight: bold;
}
/* -------------------- Question Area -----------------*/
.question-area{
    margin-bottom: 100px;
}
.accordion-apace{
    margin-bottom: 25px;
}
.accordion-img{
    width: 80%;
}
@media only screen and (max-width: 768px){
    .section-img{
        margin-bottom: 30px;
    }
}

/* -------------------- riding Equpment Area -----------------*/
.equpment-area{
    margin-bottom: 100px;
}
.per-equpment{
    border-bottom: 1px solid grey;
}
.equpment-img{
    width:200px;
    border-right: 1px solid gray;
}
.equpment-img img{
    width:75%;
}
.equpment-info h2{
    font-size: 20px;
}
.equpment-info h3{
    font-size:18px;
    color: #f44336;
}
/* ------------------ Message Area ------------------*/
.message-area{
    margin-bottom: 100px;
    background-image: linear-gradient(360deg,#e46158b5,#252b42c6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 30px 30px;
}
.message-button-area{
    text-align: center;
}
.message-button{
    background-color: #252B42;
    color: #fff;
    font-size:16px;
    font-weight:500;
    padding:8px 30px;
    letter-spacing:0.2em;
    border-radius: 50px;
    border:none;
    margin-top:20px;
}
/* ------------------ Footer Area ------------------*/
footer{
    background-color: #252B42;
    text-align: center;
    padding-top: 20px;
}
footer h2{
    color: grey;
    text-transform: uppercase;
    font-size:25px;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
}
marquee{
    color:rgb(244, 242, 242);
    letter-spacing:0.3em;
    border-top: 2px solid lightgrey;
    padding: 5px 0;
}
@media only screen and (max-width: 768px){
    .footer-img img{
        width:150px;
        height:150px;
    }
    footer h2{
        font-size:20px;
    }
}